<b><%= @list.name %></b>
<i><%= @list.description %></i>
<ul>
  <% @list.movies.each do |movie| %>
    <li>
      <%= movie.title %> | <%= link_to '削除', movie, method: :delete %>
    </li>
  <% end %>
</ul>