<% # フラッシュメッセージが入る場所へメッセージを挿入 %>
$('.register-flash').html('<div class="alert alert-<%= @type %>"><%= @message %></div>');

<% # デフォルトのフェードアウトは既に実行されてしまっているので、改めてフェードアウトをかける %>
$('.alert').fadeOut(2500);

<% # 消した映画のdivを消す %>
$('#movie-<%= @mid %>').remove();