<div class="jumbotron">
  <div class="row">
    <div class="col">
      <h2 style="display: inline-block">Welcome!</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p style="display: inline-block; color: gray"><small>まずは最初のリストを作成しましょう。</small></p>
    </div>
  </div>
</div>