/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
  padding-top: 7em;
  // 英単語のみだと折り返しが起きないのを修正する
  word-break: break-all;
  header {
    height: 5em;
  }
  footer {
    margin-top: 7em;
  }
}

// ボタンの色オーバーライド
$primary: rgb(99, 39, 240);
$secondary: rgb(102, 55, 129);
$info: rgb(125, 127, 230);
$warning: rgb(247, 176, 83);
$danger: rgb(209, 27, 154);

.btn-primary {
  color: #fff;
  background-color: $primary;
  border-color: $primary;
}

.btn-outline-primary {
  color: $primary;
  border-color: $primary;
}
.btn-secondary {
  color: #fff;
  background-color: $secondary;
  border-color: $secondary;
}

.btn-outline-secondary {
  color: $secondary;
  border-color: $secondary;
}
.btn-info {
  color: #fff;
  background-color: $info;
  border-color: $info;
}

.btn-outline-info {
  color: $info;
  border-color: $info;
}
.btn-warning {
  color: #fff;
  background-color: $warning;
  border-color: $warning;
}

.btn-outline-warning {
  color: $warning;
  border-color: $warning;
}
.btn-danger {
  color: #fff;
  background-color: $danger;
  border-color: $danger;
}

.btn-outline-danger {
  color: $danger;
  border-color: $danger;
}

#logo {
  font-size: x-large;
  font-weight: 600;
  text-decoration: none;
  color: ghostwhite;
}

// フラッシュメッセージを固定
.alert {
  position: fixed;
  z-index: 1;
  width: 100%;
}

// ページネーションを少し下げる
.pagination {
  padding-top: 2em;
}

// ドロップダウンメニュー
.dropdown-menu {
  width: 18em;
}

.dropdown-menu-sm {
  width: 15.5em;
}

//アイコンのみで出来たボタンの下のマージン
.iconbtn {
  margin-top: 0.5em;
}

// セレクトボックスの高さ
select {
  height: 2em;
}

// チェックボックス切り替え用のスタイル
$checker: #f3abf3;
#check-true {
  color: #fff;
  background-color: $checker;
  border-color: $checker;
}

#check-false {
  color: $checker;
  border-color: $checker;
}

.thumbnail {
  width: 64px;
  height: 64px;
}

card-title {
  font-weight: 500;
}